########################################
# CONFIGURATION FILES
# We never want to track these because they are created at install

system/application/config/config.php
system/application/config/database.php
system/application/config/macaw.php


########################################
# PLUGINS
system/application/logs
plugins/import/JsonStreamingParser-new
plugins/import/jsonstreamingparser-master.zip
plugins/import/jsonstreamingparser-master
plugins/import/json-reader.php
plugins/import/test.json


########################################
# DATA DIRECTORIES
# These are also created when we install 

books
incoming

images/Macaw-Art-of-Life-Help.pdf
